extends base.pug
block app_content
    h1 #{_('An unexpected error has occurred')}
    p #{_('The administrator has been notified. Sorry for the inconvenience!')}
    p: a(href=url_for('index')) #{_('Back')}
