extends base.pug
{% import 'bootstrap/wtf.html' as wtf %}

block app_content
    h1 {{ _('Send Message to %(recipient)s', recipient=recipient) }}
    .row
        .col-md-4
            {{ wtf.quick_form(form) }}
